:root{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(bg.jpg);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    height: 100vh;
}
#container{
    width: 60rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.7rem;
    
}
#logo{
    display: flex;
    justify-content: center;
    padding: 5rem;
}
#logoimg{
    width: 35rem;
}
#lista{
    width: 60rem;
    margin-right: auto;
    margin-left: auto;
}
ul{
    list-style-type: none;
}
li{
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 60rem;
    
    margin: 0.3rem;
}
p{
    padding: 1rem;
}
.prefix{
    display: flex;
    width: 7rem;
    justify-content: center;
    background-color: #E50100;
}
.points{
    display: flex;
    justify-content: center;
    width: 10rem;
    background-color: #E50100;
}
.name{
    display: flex;
    justify-content: center;
    width: 42.4rem;
    background-color: #E50100;
}
p:hover{
    background-color: #990000;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(230, 0, 0, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}